.input {
  box-sizing: border-box;
  width: auto;
  padding: 10px;
  border: 1px solid var(--grey-light);
  border-radius: 4px;
  font-family: var(--os);
  font-size: var(--fz);
  line-height: calc(var(--fz) + 4px);
  background: var(--white);
  display: block;
  outline: none;
  color: var(--grey-dark);
  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
    + label {
      opacity: 0.75;
      pointer-events: none;
    }
  }
  .card-filter & {
    min-width: 200px;
  }
  &::placeholder {
    color: var(--grey-dark);
    font-size: var(--fz);
  }
  &:hover {
    color: var(--black);
    border-color: var(--black);
    ::placeholder {
      color: var(--black);
    }
  }
  &:focus {
    border-color: var(--accent);
  }
  &:active {
    border-color: var(--accent);
    border-width: 0;
    outline: 2px solid var(--accent);
  }
  &.error {
    border-color: var(--danger);
  }
  &.search {
    width: 100%;
    min-width: 100%;
    border-color: transparent;
    outline: none;
    padding: 10px 36px 10px 16px;
    &:hover {
      border-color: transparent;
    }
    &:active {
      border-width: 1px !important;
    }
  }
  &.h32 {
    padding: 6px 8px;
    font-size: calc(var(--fz) - 1px);
  }
  &.w120 {
    max-width: 120px;
  }
}