.log-box {
  max-height: 420px;
  overflow: auto;
  box-sizing: border-box;
  padding: 0 5px 0 0;
  .search-form {
    position: sticky;
    top: 0;
    transform: translate3d(0, 0, 0);
    z-index: 2;
    .search {
      background: #eef5ff;
    }
  }
  .search {
    background: none;
    border-color: var(--grey-light) !important;
  }
  .log-info-list {
    font-size: calc(var(--fz) - 2px);
    font-weight: 600;
    li {
      padding: 8px 0;
      border-bottom: 1px solid var(--grey-light);
    }
    p {
      margin: 0;
    }
    .log-time {
      font-style: normal;
      font-size: calc(var(--fz) - 4px);
      text-transform: uppercase;
      display: block;
      font-weight: 300;
    }
  }
}
